@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #ffffff;
    --primary-color: #ff8585;
    --secondary-color: #ffb8b8;
    --primary-shadow: #1F1B24;
    --secondary-shadow: #1F1B24;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

/* Variables end */

html {
    scroll-behavior: smooth;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
    color: black;
    background-color: #ffffff;
}

h2, h3 {
    color: var(--primary-color);
}

section {
    background-color: #ffffff;
}

div {
    background-color: #ffffff;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--primary-shadow);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* About Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.hero img {
    height: auto;
    max-width: 100%;
    color: var(--primary-color);
}

.bio {
    width: 100%;
    max-width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    color: white;
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
    color: white;
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
    color: white;
}

/* Team Section */
.more-about {
    background-color: var(--bg-color);
    padding: 1rem 3.5rem;
}

.more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.more-about p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* Resources Section */
.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

/* Media Section */
.projects {
    background-color: var(--bg-color);
    padding: 2rem 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

/* Social accounts - Fixed to the right */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 2%; /* Adjusted for better visibility */
}

.socicon {
    width: 2rem;
    height: 2rem;
}

/* Scroll to top button */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 2%; /* Adjusted for better visibility */
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}

/* Footer section */
footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
}

/* General (utilities) */
.icon-card {
    background-color: #121212;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
}

.project-card {
    background-color: #121212;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: absolute;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        gap: 0;
    }

    .hero img {
        height: auto;
        max-width: 100%;
    }

    .bio {
        margin-top: 0;
        width: 100%;
    }

    .more-about {
        margin-top: 2rem;
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 420px) {
    .hero img {
        height: auto;
        max-width: 100%;
    }

    .bio {
        width: 100%;
        margin-top: 0;
    }
}